In [216]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [217]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1838,tt0218967,60000000,124745083,The Family Man,Nicolas Cage|TÃ©a Leoni|Don Cheadle|Saul Rubin...,Brett Ratner,What if you made different choices? What if yo...,"Jack's lavish, fast-paced lifestyle changes on...",125,Comedy|Drama|Romance|Fantasy,Universal Pictures,12/12/2000,6.4,2000
333,tt1174732,7500000,26096852,An Education,Carey Mulligan|Olivia Williams|Peter Sarsgaard...,Lone Scherfig,Innocence of the Young.,A coming-of-age story about a teenage girl in ...,100,Drama|Romance,BBC Films,10/29/2009,6.8,2009
1844,tt0190138,41300000,106371651,The Whole Nine Yards,Bruce Willis|Matthew Perry|Rosanna Arquette|Mi...,Jonathan Lynn,"In the heart of suburbia, a hit man with heart...",A mobster named Jimmy the Tulip agrees to coop...,98,Comedy|Crime,Franchise Pictures|Warner Bros.|Morgan Creek P...,2/18/2000,6.0,2000
717,tt0465502,25000000,30000000,Igor,John Cusack|Myleene Klass|Robin Walsh|Matt McK...,Anthony Leondis,All men aren't created Evil.,Animated fable about a clichÃ© hunchbacked evi...,87,Animation|Comedy|Family|Fantasy,Exodus Film Group|Exodus Productions,9/19/2008,5.4,2008
122,tt1951265,125000000,752100229,The Hunger Games: Mockingjay - Part 1,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Francis Lawrence,Fire burns brighter in the darkness,Katniss Everdeen reluctantly becomes the symbo...,123,Science Fiction|Adventure|Thriller,Lionsgate|Color Force,11/18/2014,6.6,2014

In [218]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [219]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
# жанры переводим в список из строки с разделителем
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
data['director'] = data['director'].apply(lambda x:x.split('|'))
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
data['release_month'] = data['release_date'].apply(lambda x: x[:x.find('/')]).astype(int)
data['original_title_len'] = data['original_title'].apply(lambda x: len(x))
data['overview_words'] = data['overview'].apply(lambda x: len(x.split()))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [220]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [221]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()][['original_title', 'imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [222]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [223]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [224]:
data[data['runtime'] == data['runtime'].max()][['original_title', 'imdb_id']]

         original_title    imdb_id
1157  Gods and Generals  tt0279111

# 3. Какой из фильмов самый короткий (в минутах)?

In [225]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
data[data['runtime'] == data['runtime'].min()][['original_title', 'imdb_id']]

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

# 4. Какова средняя длительность фильмов?

In [226]:
answers['4'] = '2. 110'
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [227]:
answers['5'] = '1. 107'
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [228]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'
data[data['profit'] == data['profit'].max()][['original_title', 'imdb_id']]

    original_title    imdb_id
239         Avatar  tt0499549

# 7. Какой фильм самый убыточный?

In [229]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
data[data['profit'] == data['profit'].min()][['original_title', 'imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [230]:
answers['8'] = '1. 1478'
len(data[data['revenue'] > data['budget']])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [231]:
answers['9'] = '4. The Dark Knight (tt0468569)' 
data[data['release_year'] == 2008][data[data['release_year'] == 2008]['revenue'] == data[data['release_year'] == 2008]['revenue'].max()][['original_title', 'imdb_id']]

      original_title    imdb_id
599  The Dark Knight  tt0468569

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [232]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)].sort_values('profit', ascending=True).iloc[:1][['profit', 'original_title', 'imdb_id']]

         profit   original_title    imdb_id
1245 -165710090  The Lone Ranger  tt1210819

# 11. Какого жанра фильмов больше всего?

In [233]:
answers['11'] = '3. Drama'
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres_list = []
for genres in data['genres']:
    genres_list += genres 

Counter(genres_list).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [234]:
Counter(data.explode('genres')['genres']).most_common(1)[0][0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [235]:
answers['12'] = '1. Drama'
Counter(data[data['profit'] > 0].explode('genres')['genres']).most_common(1)[0][0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [236]:
answers['13'] = '5. Peter Jackson'
directors_df = data[['director', 'revenue']].explode('director')
directors_df.groupby('director')['revenue'].sum().to_frame().reset_index().sort_values(by='revenue', ascending=False).iloc[:1]

          director     revenue
727  Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [237]:
answers['14'] = '3. Robert Rodriguez'
directors = data[data['genres'].apply(','.join).str.contains('Action', na=False)].explode('director')['director']
Counter(directors).most_common(1)[0][0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [238]:
answers['15'] = '3. Chris Hemsworth'
cast_df = data[data['release_year'] == 2012][['cast', 'revenue']].explode('cast').groupby('cast')['revenue'].sum().to_frame().reset_index()
cast_df[cast_df['revenue'] == cast_df['revenue'].max()]

               cast     revenue
77  Chris Hemsworth  2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [239]:
answers['16'] = '3. Matt Damon'
Counter(data[data['budget'] >= data['budget'].mean()].explode('cast')['cast']).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [240]:
answers['17'] = '2. Action'
Counter(data[data['cast'].apply(','.join).str.contains('Nicolas Cage', na=False)].explode('genres')['genres']).most_common(1)[0][0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [241]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
companies_df = data.explode('production_companies')
companies_df = companies_df[companies_df['production_companies'] == 'Paramount Pictures']
companies_df[companies_df['profit'] == companies_df['profit'].min()][['original_title', 'imdb_id']]

           original_title    imdb_id
925  K-19: The Widowmaker  tt0267626

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [242]:
answers['19'] = '5. 2015'
data.groupby('release_year')['revenue'].sum().to_frame().reset_index().sort_values(by='revenue', ascending=False).iloc[:1]['release_year']

15    2015
Name: release_year, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [243]:
answers['20'] = '1. 2014'
companies_df = data.explode('production_companies')
companies_df = companies_df[companies_df['production_companies'].str.contains('Warner Bros')]
companies_df.groupby('release_year')['profit'].sum().to_frame().reset_index().sort_values(by='profit', ascending=False).iloc[:1]

    release_year      profit
14          2014  2292949646

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [244]:
answers['21'] = '4. Сентябрь'
data['release_month'].value_counts(sort=True, ascending=False).iloc[:1]

9    227
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [245]:
answers['22'] = '2. 450'
len(data[(data['release_month'] >= 6) & (data['release_month'] <= 8)])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [246]:
answers['23'] = '5. Peter Jackson'
winter_df = data[(data['release_month'] == 12) | (data['release_month'] <= 2)].explode('director')
Counter(winter_df['director']).most_common(1)[0][0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [247]:
answers['24'] = '5. Four By Two Productions'
companies_df = data.explode('production_companies')[['production_companies', 'original_title_len']]
companies_df.groupby('production_companies')['original_title_len'].mean().sort_values(ascending=False).iloc[:1]

production_companies
Four By Two Productions    83.0
Name: original_title_len, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [254]:
answers['25'] = '3. Midnight Picture Show'
companies_df = data.explode('production_companies')[['production_companies', 'overview_words']]
companies_df.groupby('production_companies')['overview_words'].mean().sort_values(ascending=False).iloc[:1]

production_companies
Midnight Picture Show    175.0
Name: overview_words, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [255]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
data[data['vote_average'] > data['vote_average'].quantile(0.99)]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [258]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
def sorting(item):
    return item


pairs = []
for actors in data['cast']:
    actors.sort(key=sorting)
    l = len(actors)
    for i in range(0, l-1):
        for j in range(i+1,l):
            pair = actors[i] + ' & ' + actors[j]
            pairs.append(pair)

res = Counter(pairs).most_common(3)
print('\n', res)

 [('Daniel Radcliffe & Emma Watson', 8), ('Daniel Radcliffe & Rupert Grint', 8), ('Emma Watson & Rupert Grint', 8)]

# Submission

In [259]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [251]:
# и убедиться что ни чего не пропустил)
len(answers)

25