In [359]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [360]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1037,tt1758830,35000000,88058786,This Is 40,Paul Rudd|Leslie Mann|Jason Segel|Maude Apatow...,Judd Apatow,The sort-of sequel to 'Knocked Up',"Pete and Debbie are both about to turn 40, the...",134,Comedy,Apatow Productions,12/20/2012,5.5,2012
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015
939,tt0251114,70000000,32287044,Hart's War,Bruce Willis|Colin Farrell|Terrence Howard|Mar...,Gregory Hoblit,"Beyond Courage, Beyond Honor.",Fourth-generation Army Col. William McNamara i...,125,Drama|War,David Foster Productions|Cheyenne Enterprises|...,2/15/2002,5.7,2002
10,tt2379713,245000000,880674609,Spectre,Daniel Craig|Christoph Waltz|LÃ©a Seydoux|Ralp...,Sam Mendes,A Plan No One Escapes,A cryptic message from Bondâ€™s past sends him...,148,Action|Adventure|Crime,Columbia Pictures|Danjaq|B24,10/26/2015,6.2,2015
1676,tt0413300,258000000,890871626,Spider-Man 3,Tobey Maguire|Kirsten Dunst|James Franco|Thoma...,Sam Raimi,The battle within.,The seemingly invincible Spider-Man goes up ag...,139,Fantasy|Action|Adventure,Columbia Pictures|Laura Ziskin Productions|Mar...,5/1/2007,5.8,2007

In [361]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [362]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
# для облегчения работы с измерениями - переводим в список из строки с разделителем 
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
data['director'] = data['director'].apply(lambda x:x.split('|'))
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
# release_month - помещаем номер месяца
data['release_month'] = data['release_date'].apply(lambda x: x[:x.find('/')]).astype(int)
# в original_title_len - помещаем длину названия фильма
data['original_title_len'] = data['original_title'].apply(lambda x: len(x))
# в overview_words - помещаем количество слов в описании фильма
data['overview_words'] = data['overview'].apply(lambda x: len(x.split()))


def production_company_by_mean_in_top(data_df, property):
    """
    returns from pandas.dataframe:data_df production company with the top mean value of property
    """
    companies_df = data_df.explode('production_companies')[['production_companies', property]]
    return companies_df.groupby('production_companies')[property].mean().sort_values(
        ascending=False).iloc[:1]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [363]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [364]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()][['original_title', 'imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [365]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [366]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [367]:
data[data['runtime'] == data['runtime'].max()][['original_title', 'imdb_id']]

         original_title    imdb_id
1157  Gods and Generals  tt0279111

# 3. Какой из фильмов самый короткий (в минутах)?

In [368]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
data[data['runtime'] == data['runtime'].min()][['original_title', 'imdb_id']]

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

# 4. Какова средняя длительность фильмов?

In [369]:
answers['4'] = '2. 110'
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [370]:
answers['5'] = '1. 107'
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [371]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'
data[data['profit'] == data['profit'].max()][['original_title', 'imdb_id']]

    original_title    imdb_id
239         Avatar  tt0499549

# 7. Какой фильм самый убыточный?

In [372]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
data[data['profit'] == data['profit'].min()][['original_title', 'imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [373]:
answers['8'] = '1. 1478'
len(data[data['revenue'] > data['budget']])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [374]:
answers['9'] = '4. The Dark Knight (tt0468569)' 
data[data['release_year'] == 2008][data[data['release_year'] == 2008]['revenue'] == data[data['release_year'] == 2008]['revenue'].max()][['original_title', 'imdb_id']]

      original_title    imdb_id
599  The Dark Knight  tt0468569

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [375]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)].sort_values('profit').iloc[:1][['profit', 'original_title', 'imdb_id']]

         profit   original_title    imdb_id
1245 -165710090  The Lone Ranger  tt1210819

# 11. Какого жанра фильмов больше всего?

In [376]:
answers['11'] = '3. Drama'
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

Counter(data.explode('genres')['genres']).most_common(1)[0][0]

'Drama'

ВАРИАНТ 2

In [377]:
# понимаю, что тут не используются методы Pandas, но этот вариант работает быстрее, чем с explode.
genres_list = []
for genres in data['genres']:
    genres_list += genres 

Counter(genres_list).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [378]:
answers['12'] = '1. Drama'
Counter(data[data['profit'] > 0].explode('genres')['genres']).most_common(1)[0][0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [379]:
answers['13'] = '5. Peter Jackson'
directors_df = data[['director', 'revenue']].explode('director')
directors_df.groupby('director')['revenue'].sum().to_frame().reset_index().sort_values(by='revenue', ascending=False).iloc[:1]

          director     revenue
727  Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [380]:
answers['14'] = '3. Robert Rodriguez'
directors = data[data['genres'].apply(','.join).str.contains('Action', na=False)].explode('director')['director']
Counter(directors).most_common(1)[0][0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [381]:
answers['15'] = '3. Chris Hemsworth'
cast_df = data[data['release_year'] == 2012][['cast', 'revenue']].explode('cast').groupby('cast')['revenue'].sum().to_frame().reset_index()
cast_df[cast_df['revenue'] == cast_df['revenue'].max()]

               cast     revenue
77  Chris Hemsworth  2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [382]:
answers['16'] = '3. Matt Damon'
Counter(data[data['budget'] >= data['budget'].mean()].explode('cast')['cast']).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [383]:
answers['17'] = '2. Action'
Counter(data[data['cast'].apply(','.join).str.contains('Nicolas Cage', na=False)].explode('genres')['genres']).most_common(1)[0][0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [384]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
companies_df = data.explode('production_companies')
companies_df = companies_df[companies_df['production_companies'] == 'Paramount Pictures']
companies_df[companies_df['profit'] == companies_df['profit'].min()][['original_title', 'imdb_id']]

           original_title    imdb_id
925  K-19: The Widowmaker  tt0267626

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [385]:
answers['19'] = '5. 2015'
data.groupby('release_year')['revenue'].sum().to_frame().reset_index().sort_values(by='revenue', ascending=False).iloc[:1]['release_year']

15    2015
Name: release_year, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [386]:
answers['20'] = '1. 2014'
companies_df = data.explode('production_companies')
companies_df = companies_df[companies_df['production_companies'].str.contains('Warner Bros')]
companies_df.groupby('release_year')['profit'].sum().to_frame().reset_index().sort_values(by='profit', ascending=False).iloc[:1]

    release_year      profit
14          2014  2292949646

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [387]:
answers['21'] = '4. Сентябрь'
data['release_month'].value_counts(sort=True, ascending=False).iloc[:1]

9    227
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [388]:
answers['22'] = '2. 450'
len(data[(data['release_month'] >= 6) & (data['release_month'] <= 8)])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [389]:
answers['23'] = '5. Peter Jackson'
winter_df = data[(data['release_month'] == 12) | (data['release_month'] <= 2)].explode('director')
Counter(winter_df['director']).most_common(1)[0][0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [390]:
answers['24'] = '5. Four By Two Productions'
production_company_by_mean_in_top(data, 'original_title_len')

production_companies
Four By Two Productions    83.0
Name: original_title_len, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [391]:
answers['25'] = '3. Midnight Picture Show'
production_company_by_mean_in_top(data, 'overview_words')

production_companies
Midnight Picture Show    175.0
Name: overview_words, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [392]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
data[data['vote_average'] > data['vote_average'].quantile(0.99)]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [401]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
# решаю двумя вариантами 
# вариант 1: быстрый по времени, пары составляю в явном цикле
# вариант 2: с применением itertools.combinations  - получается медленее
# вариант 3: модификация первого варианта с применением itertools.combinations и без составления большого списка пар
# реультаты совпадают


# вариант 1:
pairs = []
for actors in data['cast']:
    actors.sort()  # сортируем, чтобы избежать проблем очередности [Иванов и Петров] vs [Петров и Иванов]
    l = len(actors)
    for i in range(0, l-1):
        for j in range(i+1,l):
            pair = actors[i] + ' & ' + actors[j]  # пары актёров в строку, чтобы было наглядно и удобно обрабатывать
            pairs.append(pair)

result_1 = Counter(pairs).most_common(3)
print('result_1:\n', result_1)


# вариант 2: с combinations и без явных циклов
pairs = data['cast'].apply(lambda x: list(sorted(pair) for pair in combinations(x, 2)))  
result_2 = pd.DataFrame(pairs.to_list()).stack().value_counts().head(3)
print('\nresult_2:\n', result_2)


# можно модифицировать первый вариант и составлять пары через combinations
# и не строить длинный список пар, чтобы экономить память, а считать в цикле
# вариант 3
pairs_counter = Counter()
for actors in data['cast']:
    # actors.sort(key=sorting)
    actors.sort()
    for pair in combinations(actors, 2):
        if pair in pairs_counter:
            pairs_counter[pair] += 1
        else:
            pairs_counter[pair] = 1
result_3 = pairs_counter.most_common(3)
print('\nresult_3:\n', result_3)

# поскольку нет явного критерия выбора решения, то оставляю все три варианта,  
# из которых, с моей точки зрения, последний (третий) является предпочтительным

result_1:
 [('Daniel Radcliffe & Emma Watson', 8), ('Daniel Radcliffe & Rupert Grint', 8), ('Emma Watson & Rupert Grint', 8)]

result_2:
 [Daniel Radcliffe, Emma Watson]     8
[Daniel Radcliffe, Rupert Grint]    8
[Emma Watson, Rupert Grint]         8
dtype: int64

result_3:
 [(('Daniel Radcliffe', 'Emma Watson'), 8), (('Daniel Radcliffe', 'Rupert Grint'), 8), (('Emma Watson', 'Rupert Grint'), 8)]

# Submission

In [402]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [403]:
# и убедиться что ни чего не пропустил)
len(answers)

27